<mat-toolbar color="primary" class="toolbar">
    <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
      <img src="assets/logo-color.png" alt="logo" class="logo" />
    </a>
    <div class="toolbar-buttons">
        <a routerLink="/ai-info" routerLinkActive="active" ariaCurrentWhenActive="page">
            <img src="assets/ai.png" alt="ai-info" class="icon-ai" />
        </a>
        <a routerLink="/database" routerLinkActive="active" ariaCurrentWhenActive="page">
            <img src="assets/database.png" alt="database" class="icon-database" />
        </a>
        <a routerLink="/check" routerLinkActive="active" ariaCurrentWhenActive="page">
            <img src="assets/check.png" alt="check" class="icon-check" />
        </a>
    </div>
  </mat-toolbar>

  <div class="form-notify">
  <div class="form-container">
    <form class="form">
      <div class="form-group">
        <label for="email">Suspicious IP</label>
        <input type="text" id="email" name="email" required="">
      </div>
      <div class="form-group">
        <label for="textarea">Important Notes</label>
        <textarea name="textarea" id="textarea" rows="10" cols="50" required="">          </textarea>
      </div>
      <button class="form-submit-btn" type="submit">Notify</button>
    </form>
  </div>
</div>