<mat-toolbar color="primary" class="toolbar">
    <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
      <img src="assets/logo-color.png" alt="logo" class="logo" />
    </a>
    <div class="toolbar-buttons">
        <a routerLink="/ai-info" routerLinkActive="active" ariaCurrentWhenActive="page">
            <img src="assets/ai.png" alt="ai-info" class="icon-ai" />
        </a>
        <a routerLink="/database" routerLinkActive="active" ariaCurrentWhenActive="page">
            <img src="assets/database.png" alt="database" class="icon-database" />
        </a>
        <a routerLink="/check" routerLinkActive="active" ariaCurrentWhenActive="page">
            <img src="assets/check.png" alt="check" class="icon-check" />
        </a>
    </div>
  </mat-toolbar>

  <div class="get-started-container">
    <!-- Application Logo and Info -->
    <img src="assets/logo.png" alt="Application Logo" class="logo1" />
    
    <div class="container">
        <h1>Welcome to DetectEAD!</h1>
        <p>
            DetectEAD is designed to help you detect abnormal actions in your network, With an intuitive interface and powerful features, getting started is easy!
        </p>

        <h2>Key Features:</h2>
        <ul class="features-list">
            <li><strong>User-Friendly Interface:</strong> Navigate effortlessly through our clean and organized layout.</li>
            <li><strong>Traffic Statics:</strong> Statics about your traffic every minute.</li>
            <li><strong>Open Source Project:</strong> You can customize it the way you want.</li>
            <li><strong>Analytics Dashboard:</strong> Visualize your project’s progress and gain insights with our built-in reporting tools.</li>
            <li><strong>Track Management:</strong> Every detail is logged in the database logs.</li>
        </ul>
    </div>
  
    <!-- Developer Section -->
    <h2 id="meet">Meet the Developers</h2>
    <div class="developers">
  
      <!-- Developer 1 -->
      <div class="developer1">
        <a href="https://www.linkedin.com/in/hachem-mastouri/">
            <img src="assets/hachem.png" alt="Your Photo" class="developer-photo" />
        </a>
        <h3>Hachem MASTOURI</h3>
        <p class="developer-description">
          Software & Security Engineer.
        </p>
      </div>
  
      <!-- Developer 2 -->
      <div class="developer2">
        <a href="https://www.linkedin.com/in/youssef-saidi1/">
            <img src="assets/youssef2.png" alt="Friend's Photo" class="developer-photo" />
        </a>
        <h3>Youssef SAIDI</h3>
        <p class="developer-description">
          Software & Data Engineer.
        </p>
      </div>
    </div>
  </div>
  
  
