<mat-toolbar color="primary" class="toolbar">
    <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
      <img src="assets/logo-color.png" alt="logo" class="logo" />
    </a>
    <div class="toolbar-buttons">
        <a routerLink="/ai-info" routerLinkActive="active" ariaCurrentWhenActive="page">
            <img src="assets/ai.png" alt="ai-info" class="icon-ai" />
        </a>
        <a routerLink="/database" routerLinkActive="active" ariaCurrentWhenActive="page">
            <img src="assets/database.png" alt="database" class="icon-database" />
        </a>
        <a routerLink="/check" routerLinkActive="active" ariaCurrentWhenActive="page">
            <img src="assets/check.png" alt="check" class="icon-check" />
        </a>
    </div>
  </mat-toolbar>

  <div class="check">
    <div class="checkh1"><h1>Check Suspicious IP</h1></div>
    <div class="checkform"><input [(ngModel)]="inputIp" placeholder="Enter IP address" />
        <button (click)="checkIp()" [disabled]="!inputIp">Check</button>
        <p *ngIf="isLoading">Checking...</p>
        <p *ngIf="!isLoading && result !== null">
          IP: {{ inputIp }} is {{ result ? 'Suspicious' : 'Safe' }}.
        </p>
        <p *ngIf="!isLoading && !isValid">Invalid IP format. Please enter a valid IP address.</p>
      </div>
  </div>
