.toolbar {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
  }
.icon-ai {
    width: 45px;
    height: auto;
    margin-left: 8px;
  }

.icon-database {
    width: 40px;
    height: auto;
    margin-left: 20px;
  }

.icon-check {
    width: 40px;
    height: auto;
    margin-left: 20px;
  }


  .logo {
    width: 100px; 
    height: auto;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
  }
  
  .db h1 {
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    margin-bottom: 20px;
    color : #ffacd6;
  }
  
  .list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .list li {
    background: rgba(255, 255, 255, 0.1); 
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 8px; 
    font-size: 1.2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease, background 0.3s ease;
  }
  
  .list li:hover {
    transform: scale(1.05);
    background: rgba(255, 255, 255, 0.2); 
  }